# operator system files
.DS_Store

# exclude log files
log
log/*

# exclude ide files
.buildpath
.project
.idea
.vscode

# exclude temp
/current-compose-config.yml
/docker-compose.yml
/project/test
/test.sh

# Temp Dockerfile
*/Dockerfile